{%extends 'cbv_app/base.html'%}
{%block body_block%}
{% load custFilter %}
    <h1>Students:</h1>
    <table border="2">
        <thead>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Test score</th>
        </thead>
        {% for student in students_list %}
        <tr>
            <td><a href="/{{student.id}}">{{student.id}}</a></td>
            <td>{{student.first_name|myAppend:"Mr. "}}</td>
            <td>{{student.last_name|myLower}}</td>
            <td>{{student.testScore}}</td>
            <!-- <td></td> -->
        </tr>&nbsp;&nbsp;
        {% endfor %}
        <td><a href="/create">Add student</a></td>

    </table>
{%endblock%}